.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #fff;
    overflow: hidden;
    color: #fff;
}

.responsive{
    width: 100%;
    height:auto;
}